.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mosaic-align-pieces {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.pieces-distance {
  padding: 1px;
  width: 50px;
  height: 50px;
}

:root {
  --rowNum: 5;
  --colNum: 5;
  --gridHeight: calc(100% / var(--rowNum) - 5px * (var(--rowNum) - 1) / var(--rowNum));
  --gridWidth: calc(100% / var(--colNum) - 5px * (var(--colNum) - 1) / var(--colNum));
}
.wrapper {
  display: flex;
  grid-template-rows: repeat(var(--rowNum), var(--gridHeight));
  grid-template-columns: repeat(var(--colNum), auto);
  width: 100%;
}

.grid-item {
  grid-column-start: auto;
  grid-row-start: auto;
  padding: 1px;
  width: 100%;
}

.bg-color-mosaic {
  background-color: #5F4FA7 !important;
  border: none !important;
  border-radius: 10px;
}

.bg-color-mosaic-cancel {
  background-color: #857daa !important;
  border: none !important;
  border-radius: 10px;
}

.bg-color-mosaic {
  background-color: #5F4FA7;
}

.color-border-1 {
  border-bottom: 3px solid #5F4FA7;
}

.color-border-2 {
  border-bottom: 3px solid #FFBE00;
}

.color-border-3 {
  border-bottom: 3px solid #FE1159;
}

.color-border-4 {
  border-bottom: 3px solid #FF551A;
}

.color-mosaic-1 {
  color: #5F4FA7;
  font-weight: 600;
  text-transform: uppercase;
}

.color-mosaic-2 {
  color: #FFBE00;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
}

.color-mosaic-3 {
  color: #FE1159;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
}

.color-mosaic-4 {
  color: #FF551A;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
}
