<app-loading *ngIf="loading"></app-loading>

<div class="header header-fixed u-unselectable header-animated color-border-2 bg-color-mosaic-1">
  <div class="header-brand">
    <div class="nav-item no-hover">
      <a>
        <h6 class="title color-mosaic-2">Mosaiko</h6>
      </a>
    </div>
  </div>
</div>

<div class="mt-1 mx-3 content-page u-overflow-auto" [hidden]="pieceMosaic">
  <div class="grid grid-gap-3 grid-r-12">
    <div class="grid-c-12 grid-r-12 frame" style="height: 81vh;">
      <div class="grid-c-12 grid-r-6 center">
        <img [src]="photoURL('assets/images/Mosaiko.png')" class="grid-item" style="width: 30vh;" />
      </div>
      <div class="grid-c-12 grid-r-4 center"
        style="text-align: center; width: 100%; letter-spacing: -0.5px; font-weight: 500; margin-top: 2vh;">
        <span>Olá, seja bem vindo ao MOSAIKO! Separe os seus Materiais Artísticos, digite o seu nome abaixo e clique em começar.</span>
      </div>

      <div class="grid-c-12 grid-r-2 center" style="margin-top: 2vh;">
        <div class="form-group">
          <input type="text" class="form-group-input" placeholder="Nome e Sobrenome"
            [(ngModel)]="nomeParticipante" />
        </div>
        <button class="btn btn-animated button-advance" style="width: 100% !important;"
          (click)="generatePiece()">COMEÇAR</button>
      </div>
    </div>
  </div>
</div>

<div class="mt-1 mx-3 content-page u-overflow-auto" [hidden]="!pieceMosaic">
  <div class="grid grid-gap-3 grid-r-12">
    <div class="grid-c-12 grid-r-12 frame" style="height: 81vh;">

      <div class="grid-c-12 center"
        style="text-align: center; width: 100%; letter-spacing: -0.5px; font-weight: 500; margin-top: 7vh;">
        <span
          style="text-align: center; width: 35vh; letter-spacing: -0.5px; font-weight: 700; margin-top: 2vh; font-size: 1.5rem;">ATENÇÃO!</span><br>
        <span style="font-size: 1.25rem">Todas as peças já foram geradas. Qualquer dúvida, contate o administrador.</span>
      </div>
      <div class="grid-c-12 grid-r-6 center" style="margin-top: 2vh">
        <img [src]="photoURL('assets/images/Mosaiko.png')" class="grid-item" style="width: 30vh;" />
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
